* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.header {
    text-align: center;
    margin-bottom: 20px; 
}

.vision-item img {
    width: 100%; 
    height: auto;
    transition: transform 0.3s ease; 
}

.vision-item:hover img {
    transform: scale(1.1); 
}

.vision-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 1000px; 
    height: auto; 
    overflow: auto; 
}

.vision-item {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item-1, .item-2, .item-3, .item-4 {
    order: 1; /* Ensures these items are in the top row */
}

.item-1 {
    width: 150px;
    height: 199px;
    background-color: #ffffff;
    margin-left: -10px;
    
}

.item-2 {
    width: 200px;
    height: 200px;
    background-color: #99ccff;
}

.item-3 {
    width: 250px;
    height: 300px;
    background-color: #99ff99;
}

.item-4 {
    width: 300px;
    height: 100px;
    background-color: #ffff99;
}

.item-6, .item-7, .item-5 {
    order: 2; 
}

.item-5 {
    width: 370px;
    height: 300px;
    background-color: #00b8f5;
    margin-left: -10px;
    margin-top: -100px;
    background-image: url('assets/apn.png'); 
    background-size: cover; 
    background-position: center; 
}
.goals-heading {
    font-size: 2em; 
    color: #333; 
    text-align: center; 
    margin-bottom: 10px; 
    font-weight: bold; 
    text-transform: uppercase; 
}
.goals-list {
    list-style-type: none; 
    padding: 0; 
    text-align: center; 
    margin: 0;
}

.goals-list li {
    margin-bottom: 10px; 
    font-size: .90em;
    color: #000000;
}
.item-6 {
    width: 570px;
    height: 200px;
    background-color: #ff9999;
}

.item-7 {
    width: 300px;
    height: 180px;
    background-color: #ffcc99;
    margin-top: -420px;
    margin-left: 650px;
}

/* General hover effect */
.vision-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.vision-item img {
    width: 100%;
    height: auto;
}
